*{
    margin: 0px;
}
body{
    width: 100%;
    height: auto;
    background-image: url(cloth-white-background-texture-vector-17865181.jpg);
    justify-content: center;
    
    
    
}
.outerBlue{
      width:auto;
      height: 400px;
      margin-left: 2%;
      margin-right: 2%;
      margin-top: 5%;
      margin-bottom: 5%;
      background-color: rgb(186, 186, 247);
      padding: 5%;
      
}
.innerWhite{
    filter: drop-shadow(0px 4px 4px rgb(0,0,0,.25));
    width: 18%;
    height: 85%;
    margin-top: 60px;
background-color: white;
    background-position: center;
    border-radius: 13px;
    margin:0 auto;
    padding:1%; 
    
    }

     .image{
        height: 200px;
        width: 100%;
        margin:  10 px 10px;
        margin: 0 auto;
     border-radius: 10px;
      }
      p{
        text-align: center;
        color: hsl(220, 15%, 55%);
        font-family:'outfit',sans-serif;
      }
      p b{
        color: black;
        font-size: 16px;
      }
      .Text{
        text-align: center;
         margin: 8px;
      }
     .text-down{
        font-size: 12px;
        margin: 8px;

     } 
    